
<div class="container" >
  <div class="row justify-content-left" id="notes-container">
    <app-note #cardView *ngFor="let note of _showedNotes" [style.order]="cardView.zOrder"
              [_data]="note"
              [_currentList]="currentList"
              [@noteExpand]="cardView.state"
              (@noteExpand.start)="focusOnNote($event, cardView._data.id)"
              (@noteExpand.done)="focusOnNote($event, cardView._data.id)"
              (click)="toggleNotes(note)"
              ></app-note>
  </div>
</div>
