<div class="total-container">
  <div class="container">
    <!----
    TOP IMAGE & NAVIGATION PANEL
    ----->
    <div class="container top-image pl-0 pr-0"></div>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse my-navbar">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">ЗАМЕТКИ</a>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav navbar-right">
          <!--------  DRY !!!! --------------->
          <li class="nav-item" [class.active]="firstButton.text === currentList" (click)="onSelect(firstButton.text)">
            <a #firstButton class="nav-link" href="#">Китай</a>
          </li>
          <li class="nav-item" [class.active]="secondButton.text === currentList" (click)="onSelect(secondButton.text)">
            <a #secondButton class="nav-link"  href="#">не Китай</a>
          </li>
          <app-admin-panel [menuButtons]="menuButtons"></app-admin-panel>
        </ul>
      </div>
    </nav>

    <!----
      CONTENT change to router outlet later
    ----->

    <app-notes-dashboard [currentList]="currentList" [parentSubject]="parentSubject"></app-notes-dashboard>

    <!----
      FOOTER
    ----->

    <footer class="footer">
      <div class="container">
        <p class="text-muted text-right">Footer text is placed here</p>
      </div>
    </footer>

  </div>
</div>
