<div class="total-container">
  <div class="container">
    <!----
    TOP IMAGE & NAVIGATION PANEL
    ----->
    <div class="container top-image pl-0 pr-0"></div>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse my-navbar">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">ЗАМЕТКИ</a>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item active">
            <a class="nav-link" href="#">Китай <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">не Китай </a>
          </li>
        </ul>
      </div>
    </nav>

    <!----
      CONTENT
    ----->

    <div class="notes-container">
      <div class="text-temp-block">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non consectetur purus. Praesent viverra,
          dui a mollis pretium, dolor risus vehicula erat, sit amet lobortis libero ligula id nisl. Donec eget eleifend
          sem. Vivamus ut scelerisque dui. Duis et ex lobortis, scelerisque odio semper, imperdiet leo. Nulla et sapien
          nec velit laoreet mollis. Nullam sagittis imperdiet sapien, id egestas neque ullamcorper a. Vestibulum nec dui
          elit.</p>
        <div class="row justify-content-end">
          <div class=" col-md-6 col-lg-4 text-center">
            <a class="btn btn-comment" href="#">Комментировать</a>/<a class="btn btn-comment" href="#">Читать (51)</a>
          </div>
        </div>
      </div>
      <p class="text-temp-block">Morbi in turpis id sem facilisis sodales vel eget nisl. Interdum et malesuada fames ac
        ante ipsum primis in faucibus. Donec elementum erat eu massa aliquet vehicula. Class aptent taciti sociosqu ad
        litora torquent per conubia nostra, per inceptos himenaeos. Ut ut purus eget quam maximus tincidunt. Nam ut
        consequat velit. Sed eget ullamcorper velit. Etiam tristique venenatis neque, at accumsan lorem tincidunt quis.
        Nam ultrices libero quis massa rhoncus malesuada. Praesent aliquam mi vel est sodales interdum.</p>
      <p class="text-temp-block">Maecenas sollicitudin pharetra lacus et tincidunt. In hac habitasse platea dictumst.
        Sed at justo quis magna tempor convallis. Phasellus aliquam eros nec nibh gravida, eget vulputate lacus
        sollicitudin. Integer faucibus cursus libero, nec rutrum metus. Nulla porta commodo purus, ut placerat mauris
        aliquam id. Etiam non risus cursus, pulvinar velit non, facilisis sem. Praesent luctus lectus et ligula mattis
        pulvinar eget a elit. Quisque ultrices sodales hendrerit. Nullam ultricies tristique feugiat. Aenean sagittis
        mauris tellus, at semper sem rutrum quis. Morbi congue, mauris et aliquet commodo, libero dolor lacinia ex, vel
        ultricies sapien mi a nunc. Ut neque mauris, aliquet pellentesque tincidunt vel, bibendum a eros.</p>
      <p class="text-temp-block">Pellentesque nec orci ut dui posuere convallis. Nulla facilisi. Mauris sit amet velit
        aliquam lectus imperdiet luctus. Phasellus et bibendum lorem. Curabitur in semper ex. Etiam eget ullamcorper
        nisl. Vivamus efficitur tempus placerat. Mauris ligula purus, mollis sit amet rhoncus ac, porta ut leo.</p>
      <p class="text-temp-block">Donec porta dolor consectetur, eleifend ipsum ut, ornare leo. Ut tristique volutpat mi,
        id consequat nibh venenatis id. Aenean vulputate malesuada mauris non aliquet. Mauris ut eleifend urna, id
        tempor lorem. Sed dictum ornare leo. Cras imperdiet nibh vitae justo vehicula, nec maximus eros fringilla. Duis
        semper, massa in posuere maximus, est metus luctus lectus, hendrerit elementum sapien tellus ac arcu. Nam
        finibus hendrerit rutrum. Duis ut congue neque.</p>

    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted text-right">Footer text is placed here</p>
      </div>
    </footer>

  </div>
</div>
