/* You can add global styles to this file, and also import other style files */

/*
              BACKGROUND
*/

.total-container{
  background-image: url("imgs/cookies_pattern.jpg");
  background-repeat: repeat;
}

/*
              NAVIGATION
*/

.my-navbar-buttons{
  float: left;
}

.my-navbar{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.top-image{
  width: 100%;
  height: 100px;
  background-image: url("imgs/night_phoenix_town_cropped.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 40%;
  box-shadow: rgba(0, 0, 0, 0.7) 0px -30px 30px 0px inset;
}


/*
              NOTES
*/

.text-temp-block{
  background: rgba(251, 241, 212, 0.9);
  padding: 20px 20px 0;
  border-radius: 10px;
  border: solid 2px  saddlebrown;
  margin-bottom: 15px;
}

.text-temp-block:first-child{
  margin-top: 15px;
}

.btn.btn-comment{
  font-weight: bold;
  color: saddlebrown;
  padding: 8px;
}

app-note{
  width: 23.5%;
  margin: 0.5rem;

}

.btn-link.link-pointer{
  cursor: pointer;
}

.rounded.card-img-top{
  display: block;
  margin: 1% auto;
  width: 98%;
  height: auto;
  border-radius: 0.5rem 0.5rem 0 0;
}

.horizontal-divider{
  height: 0.5rem;
  border-bottom: dashed 1px rgba(0, 0, 0, 0.25);
}

.card.my-card{
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}


/****************************
BACKGROUND IMAGE
 */
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
